.container {
    width: 300px;
    margin: 0 auto;
}

.item {
    margin-bottom: 20px;
}

.main_label {
    color: white;
    font-size: 30px;
    text-align: center;
}

.label {
    display: block;
    font-size: 18px;
    color: white;
}

.field {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.error_mes {
    background: rgba(159, 20, 20, 0.63);
    border-radius: 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.73);
}

.login_button {
    display: block;
    margin: 0 auto;
}