body{
    background: dimgrey;
}

.container {
    padding: 20px;
    max-width: 920px;
    height: 680px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            'navbar'
            'app';
    grid-template-rows: 80px;
}

.app {
    grid-area: app;
}